.footer {
  background: linear-gradient(135deg, #0b1220, #0f172a);
  color: #cbd5e1;
  padding: 60px 20px 20px;
  
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}


.footer-left {
  flex: 1;
  min-width: 260px;
}

.footer-logo {
  width: 500px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.footer-left h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-left p {
  line-height: 1.6;
  color: #94a3b8;
}


.footer-middle {
  flex: 1;
  min-width:200px;
}

.footer-middle h3 {
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-middle ul {
  list-style: none;
  padding: 0;
}

.footer-middle li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #94a3b8;
  transition: color 0.3s;
}

.footer-middle li:hover {
  color: #f43f5e;
}


.footer-right {
  flex: 1;
  min-width: 260px;
}

.footer-right h3 {
  color: #ffffff;
  margin-bottom: 15px;
}

.footer-right p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  color: #94a3b8;
}

.footer-right svg {
  color: #f43f5e;
}


.footer-bottom {
  border-top: 1px solid #1e293b;
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #94a3b8;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-right p {
    justify-content: center;
  }
}
