
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 60px;
  z-index: 1000;
  transition: all 0.3s ease;

  background: transparent;
  color: white;
}


.navbar-white {
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  color: #111;
}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-logo {
  width: 45px;
  height: 45px;
 
}

.nav-title {
  font-size: 18px;
  font-weight: 600;
}


.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s ease;
  color: inherit;
}

.nav-links a:hover {
  color: #e11d48;
}


.nav-links a.active {
  color: #e11d48;
  font-weight: 600;
}


.donate-btn {
  padding: 10px 22px;
  background-color: #e11d48;
  color: white !important;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.donate-btn:hover {
  background-color: #72081f;
  transform: translateY(-2px);
}


@media (max-width: 992px) {
  .nav-links {
    display: none; 
  }

  .navbar {
    padding: 18px 25px;
  }
}
