.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(249, 244, 244, 0.4);
  backdrop-filter: blur(15px);
  padding: 12px 30px;
}


.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-logo {
  width: 45px;
  
}

.nav-title {
  color: rgb(51, 49, 49);
  font-size: 20px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: rgb(46, 45, 45);
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f43f5e;
}


.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #f43f5e;
}

.donate-btn {
  background: #f43f5e;
  color: #ffffff;
  padding: 10px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s, background 0.3s;
}

.donate-btn:hover {
  background: #e11d48;
  transform: scale(1.05);
}


@media (max-width: 900px) {
  .nav-links {
    display: none;
  }
}
