

.volunteers {
  background: #f9fafb;
  padding: 100px 40px;
  text-align: center;
}


.volunteer-header h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #111827;
}

.volunteer-header p {
  font-size: 20px;
  color: #4b5563;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
  margin-bottom: 70px;
}



.volunteer-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 1300px;
  margin: auto;
}


@keyframes fadeUpCard {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


.volunteer-card {
  background: #f3f4f6;
  border-radius: 20px;
  padding: 70px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;


  opacity: 0;
  animation: fadeUpCard 0.8s ease forwards;
}

.volunteer-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}


.volunteer-card img {
  width: 180px;
  height: auto;
  object-fit: contain;
}

.volunteer-card:nth-child(1) { animation-delay: 0.2s; }
.volunteer-card:nth-child(2) { animation-delay: 0.4s; }
.volunteer-card:nth-child(3) { animation-delay: 0.6s; }
.volunteer-card:nth-child(4) { animation-delay: 0.8s; }
.volunteer-card:nth-child(5) { animation-delay: 1s; }
.volunteer-card:nth-child(6) { animation-delay: 1.2s; }
.volunteer-card:nth-child(7) { animation-delay: 1.4s; }
.volunteer-card:nth-child(8) { animation-delay: 1.6s; }



@media (max-width: 1100px) {
  .volunteer-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .volunteer-cards {
    grid-template-columns: 1fr;
  }

  .volunteer-header h2 {
    font-size: 32px;
  }

  .volunteer-header p {
    font-size: 16px;
  }
}
